html {
  --bg-color-default: #fff;
  --color-accent: #0066dd;
  --color-text-default: #333;
  --color-text-light: #afafaf;
  background: var(--bg-color-default);
  color: var(--color-text-default);
  font: 18px/1.6 system-ui, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color-default: #222;
    --color-text-default: #ddd;
  }
}

body {
  margin: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  max-width: 76em;
  padding: 0 8px;
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.kitten-image {
  max-height: 100lvh;
  max-width: 100lvw;
}

.license {
  color: #afafaf;
  font-size: 12px;
}

.license a {
  color: inherit;
  font-weight: bold;
}
