{{#kitten}}
    <a href="{{url}}" title="{{title}}" class="kitten">
        <img src="{{imageUrl}}" alt="{{imageAlt}}">
    </a>
{{/kitten}}

<p class="license">
    All photos are either under a <a href="http://creativecommons.org/licenses/">Creative Commons</a> license or were marked as shareable by their creators. Click on a photo to visit its original source.<br>

    Comments? I'm <a href="http://twitter.com/yaypie/">@yaypie</a> on Twitter. Complaints? Maybe you need <a href="/">another kitten</a>.
</p>
