html {
  --bg-color-default: #fff;
  --color-accent: #0066dd;
  --color-text-default: #333;
  --color-text-light: #afafaf;
  background: var(--bg-color-default);
  color: var(--color-text-default);
  font: 18px/1.6 system-ui, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color-default: #222;
    --color-text-default: #ddd;
  }
}

body {
  margin: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  color: #afafaf;
  font-size: 0.7em;
  margin: 0 auto;
  max-width: 76ch;
  padding: 0 1em 1em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

:root:not([data-loaded]) footer {
  display: none;
}

footer a {
  color: inherit;
  font-weight: bold;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li:not(:first-child):before {
  content: '•';
  padding: 0 1ch;
}

main {
  text-align: center;
}

.kitten {
  display: block;
}

.kitten-image {
  display: block;
  margin: 0 auto;
  max-height: 100lvh;
  max-width: 100lvw;
}
